@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Bungee+Spice&display=swap");
main {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mode {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

.vending-machine {
  display: grid;
  grid-template-columns: [left-side] 7fr [right-side] 3fr;
  gap: 1rem;
  width: 600px;
  background: #545e75;
  padding: 1rem;
  border: 6px solid #ff5400;
  border-radius: 6px;

  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    font-family: "Bungee Spice", sans-serif;
    border: 3px solid orange;
    border-radius: 6px;
    background: #b11fcf70;
    img {
      width: 3rem;
    }
  }
}

@media (max-width: 620px) {
  .vending-machine {
    width: 100%;
  }
}
